<a href="/dealerships">Dealership Index</a>

<h1><%= @dealership.name %></h1>
<p><b>city:</b> <%= @dealership.city %></p>
<p><b>rank:</b> <%= @dealership.rank %></p>
<p><b>service shop:</b> <%= @dealership.service_shop%></p>
